---
import HeaderLayout from "../layouts/HeaderLayout.astro";
import Navbar from "../components/Navbar.astro";
import Herosection from "../components/Herosection.astro";
import Servicesgrid from "../components/Servicesgrid.astro";
import About from "../components/About.astro";
import OurServices from "../components/OurServices.astro";
import Testimonial from "../components/Testimonial.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <HeaderLayout title="Home" />
    <Navbar />
    <Herosection />
    <Servicesgrid />
    <About />

    <OurServices />
    <Testimonial />

    <!-- our working proces area end -->

    <!-- rts cta area start -->
    <div class="rts-cta-area rts-section-gapBottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="cta-solari-wrapper">
              <div class="left-area">
                <span class="pre skew-up">
                  <span> Feel Free </span> To Contact US
                </span>
                <h4 class="title skew-up">
                  Get Free Consultancy or <br /> +1 (800) 123 446 559
                </h4>
              </div>
              <div class="right-area">
                <form action="#" class="cta-form">
                  <div class="single-input">
                    <input type="text" placeholder="Your Name" required="" />
                  </div>
                  <div class="single-input">
                    <input type="text" placeholder="Your Email" required="" />
                  </div>
                  <button class="rts-btn btn-primary">Get It Now</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- rts cta area end -->

    <div class="faq-section-start-solar rts-section-gapBottom">
      <span class="stok-bg images-r left"> FAQ'S </span>
      <div class="container">
        <div class="row g-24 align-items-start">
          <div class="col-lg-6">
            <div class="title-area-left">
              <p class="pre">
                <span>Question</span> For US
              </p>
              <h2 class="title skew-up">Some General Question?</h2>
            </div>
            <div class="accordion-solar-faq">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      What is solar energy, and how does it work?
                    </button>
                  </h2>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      Solar energy is energy that is produced from the sun's
                      light and heat. It is a renewable and clean source of
                      energy that can be harnessed using solar panels.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      How much energy can I expect to generate from solar
                      panels?
                    </button>
                  </h2>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      Solar energy is energy that is produced from the sun's
                      light and heat. It is a renewable and clean source of
                      energy that can be harnessed using solar panels.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      Can solar panels work during cloudy or rainy weather?
                    </button>
                  </h2>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      Solar energy is energy that is produced from the sun's
                      light and heat. It is a renewable and clean source of
                      energy that can be harnessed using solar panels.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseFour"
                      aria-expanded="false"
                      aria-controls="collapseFour"
                    >
                      Can solar panels work during cloudy or rainy weather?
                    </button>
                  </h2>
                  <div
                    id="collapseFour"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      Solar energy is energy that is produced from the sun's
                      light and heat. It is a renewable and clean source of
                      energy that can be harnessed using solar panels.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 pl--40">
            <div class="faq-solari-image-area">
              <div class="thumbnail-small">
                <img src="/assets/images/faq/04.png" alt="solar" />
                <div class="video-area-start">
                  <div class="vedio-icone">
                    <a class="video-play-button play-video" href="#">
                      <span></span>
                      <p class="text">Watch Our Intro</p>
                    </a>
                    <div class="video-overlay">
                      <a class="video-overlay-close">×</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="thumbnail-large-bottom">
                <img src="/assets/images/faq/05.png" alt="solar" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- rts case studies area start -->
    <div class="rts-case-studyes rts-section-gapBottom bg-white">
      <span class="stok-bg images-r"> Latest Case </span>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="title-area-center">
              <p class="pre skew-up">
                <span>Quality Handyman</span> Solution
              </p>
              <h2 class="title skew-up">Our Latest Case Studies</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container-full mt--45">
        <div class="row">
          <div class="col-lg-12">
            <div class="air-condition-swiper-wrapper">
              <div class="swiper mySwiper-h-2-c">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <!-- single case air condition start-->
                    <div class="single-case-ac">
                      <a href="project-details.html" class="thumbnail">
                        <img
                          src="/assets/images/project/12.jpg"
                          alt="air-condition"
                        />
                      </a>
                      <div class="inner-content">
                        <div class="inner">
                          <span class="pre">CHALLENGE</span>
                          <a href="project-details.html">
                            <h5 class="title">Official Cleaning Service</h5>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- single case air condition end -->
                  </div>
                  <div class="swiper-slide">
                    <!-- single case air condition start-->
                    <div class="single-case-ac">
                      <a href="project-details.html" class="thumbnail">
                        <img
                          src="/assets/images/project/24.jpg"
                          alt="air-condition"
                        />
                      </a>
                      <div class="inner-content">
                        <div class="inner">
                          <span class="pre">CHALLENGE</span>
                          <a href="project-details.html">
                            <h5 class="title">Official Cleaning Service</h5>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- single case air condition end -->
                  </div>
                  <div class="swiper-slide">
                    <!-- single case air condition start-->
                    <div class="single-case-ac">
                      <a href="project-details.html" class="thumbnail">
                        <img
                          src="/assets/images/project/25.jpg"
                          alt="air-condition"
                        />
                      </a>
                      <div class="inner-content">
                        <div class="inner">
                          <span class="pre">CHALLENGE</span>
                          <a href="project-details.html">
                            <h5 class="title">Official Cleaning Service</h5>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- single case air condition end -->
                  </div>
                  <div class="swiper-slide">
                    <!-- single case air condition start-->
                    <div class="single-case-ac">
                      <a href="project-details.html" class="thumbnail">
                        <img
                          src="/assets/images/project/26.jpg"
                          alt="air-condition"
                        />
                      </a>
                      <div class="inner-content">
                        <div class="inner">
                          <span class="pre">CHALLENGE</span>
                          <a href="project-details.html">
                            <h5 class="title">Official Cleaning Service</h5>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- single case air condition end -->
                  </div>
                  <div class="swiper-slide">
                    <!-- single case air condition start-->
                    <div class="single-case-ac">
                      <a href="project-details.html" class="thumbnail">
                        <img
                          src="/assets/images/project/12.jpg"
                          alt="air-condition"
                        />
                      </a>
                      <div class="inner-content">
                        <div class="inner">
                          <span class="pre">CHALLENGE</span>
                          <a href="project-details.html">
                            <h5 class="title">Official Cleaning Service</h5>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- single case air condition end -->
                  </div>
                  <div class="swiper-slide">
                    <!-- single case air condition start-->
                    <div class="single-case-ac">
                      <a href="project-details.html" class="thumbnail">
                        <img
                          src="/assets/images/project/24.jpg"
                          alt="air-condition"
                        />
                      </a>
                      <div class="inner-content">
                        <div class="inner">
                          <span class="pre">CHALLENGE</span>
                          <a href="project-details.html">
                            <h5 class="title">Official Cleaning Service</h5>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- single case air condition end -->
                  </div>
                  <div class="swiper-slide">
                    <!-- single case air condition start-->
                    <div class="single-case-ac">
                      <a href="project-details.html" class="thumbnail">
                        <img
                          src="/assets/images/project/25.jpg"
                          alt="air-condition"
                        />
                      </a>
                      <div class="inner-content">
                        <div class="inner">
                          <span class="pre">CHALLENGE</span>
                          <a href="project-details.html">
                            <h5 class="title">Official Cleaning Service</h5>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- single case air condition end -->
                  </div>
                  <div class="swiper-slide">
                    <!-- single case air condition start-->
                    <div class="single-case-ac">
                      <a href="project-details.html" class="thumbnail">
                        <img
                          src="/assets/images/project/26.jpg"
                          alt="air-condition"
                        />
                      </a>
                      <div class="inner-content">
                        <div class="inner">
                          <span class="pre">CHALLENGE</span>
                          <a href="project-details.html">
                            <h5 class="title">Official Cleaning Service</h5>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- single case air condition end -->
                  </div>
                </div>
                <div class="swiper-pagination-h2-c"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- rts-case studyes ends -->

    <div class="row mt--120 g-5">
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <!-- single cpounter up area start -->
        <div class="single-counter-up-start-solari">
          <div class="bg-text">80+</div>
          <div class="main-content">
            <h2 class="title"><span class="counter">80</span>+</h2>
            <p>Team Member</p>
          </div>
        </div>
        <!-- single cpounter up area end -->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <!-- single cpounter up area start -->
        <div class="single-counter-up-start-solari">
          <div class="bg-text">15k</div>
          <div class="main-content">
            <h2 class="title"><span class="counter">15</span>K</h2>
            <p>Work Have Done</p>
          </div>
        </div>
        <!-- single cpounter up area end -->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <!-- single cpounter up area start -->
        <div class="single-counter-up-start-solari">
          <div class="bg-text">93K</div>
          <div class="main-content">
            <h2 class="title"><span class="counter">93</span>K</h2>
            <p>Happy Clients</p>
          </div>
        </div>
        <!-- single cpounter up area end -->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <!-- single cpounter up area start -->
        <div class="single-counter-up-start-solari">
          <div class="bg-text">18</div>
          <div class="main-content">
            <h2 class="title"><span class="counter">18</span>K</h2>
            <p>Award Winnings</p>
          </div>
        </div>
        <!-- single cpounter up area end -->
      </div>
    </div>
  </body>
  <div class="shape-author-img images">
    <img src="/assets/images/testimonials/09.png" alt="" />
  </div>
  <div class="shape-author-img-2 images-r">
    <img src="/assets/images/testimonials/10.png" alt="" />
  </div>
</html>
<!-- rts- clients review area end -->

<!-- rts blog area start -->
<div class="rts-solari-blog-area-start rts-section-gap reveal" id="blog">
  <span class="stok-bg images-r"> Our Blog </span>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-area-center">
          <p class="pre skew-up">
            <span> Our </span> Blog
          </p>
          <h2 class="title skew-up">Our Latest Blog</h2>
        </div>
      </div>
    </div>
    <div class="row g-24 mt--30">
      <div class="col-lg-6">
        <!-- single blog area start -->
        <div class="single-blog-solaric-lg">
          <a href="blog-details.html" class="thumbnail">
            <img src="/assets/images/blog/25.jpg" alt="blog" />
          </a>
          <div class="inner-content-solari-blog">
            <div class="head">
              <div class="single">
                <i class="fa-regular fa-clock"></i>
                <span>25 Jan, 2022</span>
              </div>
              <div class="single">
                <i class="fa-regular fa-user"></i>
                <span>25 Jan, 2022</span>
              </div>
              <div class="single">
                <i class="fa-light fa-phone-office"></i>
                <span>7 min Read</span>
              </div>
            </div>
            <div class="body">
              <a href="blog-details.html">
                <h5 class="title">
                  Solar Training Program Series: Why is Remote Energy Focused on
                  Training Solar Educators?
                </h5>
              </a>
              <a href="blog-details.html" class="rts-btn btn-primary"
                >Read More</a
              >
            </div>
          </div>
        </div>
        <!-- single blog area end -->
      </div>
      <div class="col-lg-6">
        <div class="single-blog-solaric-sm">
          <a href="blog-details.html" class="thumbnail">
            <img src="/assets/images/blog/26.jpg" alt="blog-area" />
          </a>
          <div class="inner-content-solari-blog">
            <div class="head">
              <div class="single">
                <i class="fa-regular fa-clock"></i>
                <span>25 Jan, 2022</span>
              </div>
              <div class="single">
                <i class="fa-regular fa-user"></i>
                <span>25 Jan, 2022</span>
              </div>
            </div>
            <div class="body">
              <a href="blog-details.html">
                <h5 class="title">
                  2019 Gattermann Award wind <br /> honors Brad Burkhart Meyer
                </h5>
              </a>
              <a href="blog-details.html" class="rts-btn btn-primary"
                >Read More</a
              >
            </div>
          </div>
        </div>
        <div class="single-blog-solaric-sm">
          <a href="blog-details.html" class="thumbnail">
            <img src="/assets/images/blog/27.jpg" alt="blog-area" />
          </a>
          <div class="inner-content-solari-blog">
            <div class="head">
              <div class="single">
                <i class="fa-regular fa-clock"></i>
                <span>25 Jan, 2022</span>
              </div>
              <div class="single">
                <i class="fa-regular fa-user"></i>
                <span>25 Jan, 2022</span>
              </div>
            </div>
            <div class="body">
              <a href="blog-details.html">
                <h5 class="title">
                  2021 Batterman Award honors <br /> Brad Burkhart Meyer Green
                </h5>
              </a>
              <a href="blog-details.html" class="rts-btn btn-primary"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- rts brand area start -->
<div class="rts-brand-area rts-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="brand-area-h2">
          <a href="#"
            ><img src="/assets/images/brand/01.png" alt="brand_start" /></a
          >
          <a href="#"
            ><img src="/assets/images/brand/02.png" alt="brand_start" /></a
          >
          <a href="#"
            ><img src="/assets/images/brand/03.png" alt="brand_start" /></a
          >
          <a href="#"
            ><img src="/assets/images/brand/04.png" alt="brand_start" /></a
          >
          <a href="#"
            ><img src="/assets/images/brand/05.png" alt="brand_start" /></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- rts brand area end -->

<!-- header style two -->
<div id="side-bar" class="side-bar header-two">
  <button class="close-icon-menu"><i class="far fa-times"></i></button>
  <!-- inner menu area desktop start -->
  <div class="inner-main-wrapper-desk">
    <div class="thumbnail">
      <img src="/assets/images/banner/04.jpg" alt="elevate" />
    </div>
    <div class="inner-content">
      <h4 class="title">We Provide The Power of Renewable Energy.</h4>
      <p class="disc">
        We successfully cope with tasks of varying complexity, provide long-term
        guarantees and regularly master new technologies.
      </p>
      <div class="footer">
        <h4 class="title">Got a project in mind?</h4>
        <a href="contact.html" class="rts-btn btn-primary">Let's talk</a>
      </div>
    </div>
  </div>
  <!-- mobile menu area start -->
  <div class="mobile-menu-main">
    <nav class="nav-main mainmenu-nav mt--30">
      <ul class="mainmenu metismenu" id="mobile-menu-active">
        <li class="has-droupdown">
          <a href="#" class="main">Home</a>
          <ul class="submenu mm-collapse">
            <li><a href="#" class="tag">Multipage</a></li>
            <li>
              <a class="mobile-menu-link" href="index.html">Home Page One</a>
            </li>
            <li>
              <a class="mobile-menu-link" href="index-two.html">Home page Two</a
              >
            </li>
            <li>
              <a class="mobile-menu-link" href="index-three.html"
                >Home Page Three</a
              >
            </li>
            <li>
              <a class="mobile-menu-link" href="index-four.html"
                >Home Page Four</a
              >
            </li>
            <li>
              <a class="mobile-menu-link" href="index-five.html"
                >Home Page Five</a
              >
            </li>
          </ul>
          <ul class="submenu mm-collapse">
            <li><a href="#" class="tag">Onepage</a></li>

            <li>
              <a class="mobile-menu-link" href="one-page-one.html"
                >Onepage One</a
              >
            </li>
            <li>
              <a class="mobile-menu-link" href="one-page-two.html"
                >Onepage Two</a
              >
            </li>
            <li>
              <a class="mobile-menu-link" href="one-page-three.html"
                >Onepage Three</a
              >
            </li>
            <li>
              <a class="mobile-menu-link" href="one-page-four.html"
                >Onepage Four</a
              >
            </li>
            <li>
              <a class="mobile-menu-link" href="one-page-five.html"
                >Onepage Five</a
              >
            </li>
          </ul>
        </li>
        <li class="has-droupdown">
          <a href="#" class="main">Pages</a>
          <ul class="submenu mm-collapse">
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="appoinment.html">Appoinment</a></li>
            <li><a href="team.html">Team</a></li>
            <li><a href="team-details.html">Team Details</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="faq.html">Faq</a></li>
          </ul>
        </li>
        <li class="has-droupdown">
          <a href="#" class="main">Services</a>
          <ul class="submenu mm-collapse">
            <li>
              <a class="mobile-menu-link" href="service.html">Service</a>
            </li>
            <li>
              <a class="mobile-menu-link" href="service-details.html"
                >Service Details</a
              >
            </li>
          </ul>
        </li>
        <li class="has-droupdown">
          <a href="#" class="main">Portfolio</a>
          <ul class="submenu mm-collapse">
            <li>
              <a class="mobile-menu-link" href="project.html">Project</a>
            </li>
            <li>
              <a class="mobile-menu-link" href="project-details.html"
                >Project Details</a
              >
            </li>
            <li class="has-droupdown third-lvl">
              <a class="main" href="#">Projects Details</a>
              <ul class="submenu-third-lvl mm-collapse">
                <li><a href="project-details.html"></a>Project Details</li>
                <li>
                  <a href="project-details-gallery.html"></a>Details Gallery
                </li>
                <li>
                  <a href="project-details-vedio.html"></a>Details Vedio
                </li>
                <li>
                  <a href="project-details-carousel.html"></a>Details Carousel
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="blog.html" class="main">Blog</a>
        </li>
        <li>
          <a href="contact.html" class="main">Contact Us</a>
        </li>
      </ul>
    </nav>

    <div class="rts-social-style-one pl--20 mt--100">
      <ul>
        <li>
          <a href="#">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- mobile menu area end -->
</div>
<!-- header style two End -->

<!-- Footer style two -->
<!-- rts footer two area start -->
<Footer />

<div id="anywhere-home" class=""></div>
<script is:inline src="/assets/js/plugins/jquery.min.js"></script>
<script is:inline src="/assets/js/vendor/jqueryui.js"></script>
<script is:inline src="/assets/js/plugins/counter-up.js"></script>
<script is:inline src="/assets/js/plugins/swiper.js"></script>
<script is:inline src="/assets/js/plugins/metismenu.js"></script>
<script is:inline src="/assets/js/vendor/waypoint.js"></script>
<script is:inline src="/assets/js/vendor/waw.js"></script>
<script is:inline src="/assets/js/plugins/gsap.min.js"></script>
<script is:inline src="/assets/js/plugins/scrolltigger.js"></script>
<script is:inline src="/assets/js/vendor/split-text.js"></script>
<script is:inline src="/assets/js/vendor/contact.form.js"></script>
<script is:inline src="/assets/js/vendor/split-type.js"></script>
<script is:inline src="/assets/js/plugins/jquery-timepicker.js"></script>
<script is:inline src="/assets/js/plugins/bootstrap.min.js"></script>

<script is:inline src="/assets/js/main.js"></script>
