<!-- header style two --><!-- header style two End --><!-- banner two swiper start -->
<div class="banner-two-swiper-start">
  <div class="swiper mySwiper-banner-2">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <!-- single swiper style -->
        <div class="banner-two-main-wrapper-solaric">
          <span class="water-text images">Wind</span>
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="banner-solari-2-content ptb--200 ptb_sm--130">
                  <span class="pre"> <span>Welcome</span> To Solari</span>
                  <h1 class="banner-title">
                    Harnessing the Wind and Sun for Future
                  </h1>
                  <p class="disc">
                    In a world where renewable resources have become paramount <br
                    /> we believe in the boundless power of nature to shape.
                  </p>
                  <div class="button-solari-banner-area">
                    <a href="aboutus.html" class="rts-btn btn-primary"
                      >Learn More</a
                    >
                    <div class="vedio-icone">
                      <a class="video-play-button play-video" href="#">
                        <span></span>
                        <p class="text">Intro Video</p>
                      </a>
                      <div class="video-overlay">
                        <a class="video-overlay-close">×</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single swiper style end -->
      </div>
      <div class="swiper-slide">
        <!-- single swiper style -->
        <div class="banner-two-main-wrapper-solaric two">
          <span class="water-text images">Wind</span>
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="banner-solari-2-content ptb--200 ptb_sm--130">
                  <span class="pre"> <span>Welcome</span> To Solari</span>
                  <h1 class="banner-title">
                    Harnessing the Wind and Sun for Future
                  </h1>
                  <p class="disc">
                    In a world where renewable resources have become paramount <br
                    /> we believe in the boundless power of nature to shape.
                  </p>
                  <div class="button-solari-banner-area">
                    <a href="aboutus.html" class="rts-btn btn-primary"
                      >Learn More</a
                    >
                    <div class="vedio-icone">
                      <a class="video-play-button play-video" href="#">
                        <span></span>
                        <p class="text">Intro Video</p>
                      </a>
                      <div class="video-overlay">
                        <a class="video-overlay-close">×</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single swiper style end -->
      </div>
      <div class="swiper-slide">
        <!-- single swiper style -->
        <div class="banner-two-main-wrapper-solaric three">
          <span class="water-text images">Wind</span>
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="banner-solari-2-content ptb--200 ptb_sm--130">
                  <span class="pre"> <span>Welcome</span> To Solari</span>
                  <h1 class="banner-title">
                    Harnessing the Wind and Sun for Future
                  </h1>
                  <p class="disc">
                    In a world where renewable resources have become paramount <br
                    /> we believe in the boundless power of nature to shape.
                  </p>
                  <div class="button-solari-banner-area">
                    <a href="aboutus.html" class="rts-btn btn-primary"
                      >Learn More</a
                    >
                    <div class="vedio-icone">
                      <a class="video-play-button play-video" href="#">
                        <span></span>
                        <p class="text">Intro Video</p>
                      </a>
                      <div class="video-overlay">
                        <a class="video-overlay-close">×</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single swiper style end -->
      </div>
    </div>
    <div class="swiper-pagination-b2"></div>
    <!-- <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div> -->
  </div>
</div>
<!-- banner two swiper end -->
