<div class="header-header-two">
  <!-- header- solaric two -->
  <div class="header-two-solari header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-top-m">
            <div class="left">
              <div class="inf">
                <i class="fa-solid fa-phone"></i>
                <p>Call Us: +919841244023</p>
              </div>
              <div class="inf">
                <i class="fa-regular fa-envelope"></i>
                <a href="tel:+4733378901">galaxypowersolutions@gmail.com</a>
              </div>
            </div>
            <div class="right">
              <div class="social-header-top-h2">
                <span>Visit Us:</span>
                <ul>
                  <li>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                  </li>
                  <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                  <li>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header- solaric two end -->
  <!-- header man start -->
  <div class="header-main-h2 header--sticky">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-haeder-wrapper-h2">
            <a href="index.html" class="logo-area">
              <img src="/assets/images/logo/logo-01.svg" alt="logo" />
            </a>

            <!-- navigation area start -->
            <div class="header-nav main-nav-one">
              <nav>
                <ul>
                  <li><a class="nav-link" href="contact.html">HOME</a></li>

                  <li><a class="nav-link" href="contact.html">ABOUT US</a></li>

                  <li><a class="nav-link" href="contact.html">PRODUCT</a></li>

                  <li><a class="nav-link" href="contact.html">SERVICE</a></li>

                  <li><a class="nav-link" href="contact.html">CONTACT</a></li>
                </ul>
              </nav>
            </div>
            <!-- navigation area end -->
            <div class="actions-area">
              <!-- <a href="tel:+4733378901" class="rts-btn btn-primary"
                >Call for help: 682-3386-69862</a
              > -->
              <div class="menu-btn" id="menu-btn">
                <i class="fa-solid fa-bars" style="color:rgb(0, 0, 0);"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header man end -->
</div>

<style>
  .menu-btn {
    display: block;
  }

  @media screen and (min-width: 768px) {
    .menu-btn {
      display: none;
    }
  }
</style>
