<!-- rts service area start -->
<div class="rts-secvice-area-solaric-banner-bottom start rts-section-gapBottom">
  <div class="container">
    <div class="row g-24">
      <div class="col-lg-3 col-md-6 cols-md-12 col-12">
        <!-- single service aarea start -->
        <div class="single-service-solari">
          <div class="icon-area">
            <svg
              width="46"
              height="46"
              viewBox="0 0 46 46"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M36.339 21.9L36.8359 20.4494L38.2869 20.9463L37.79 22.3969L36.339 21.9Z"
                fill="#4AAB3D"></path>
              <path
                d="M45.2333 41.4002H43.7V36.0335H44.4667C44.67 36.0335 44.865 35.9528 45.0088 35.809C45.1526 35.6652 45.2333 35.4702 45.2333 35.2669V29.1335C45.2333 28.9302 45.1526 28.7352 45.0088 28.5914C44.865 28.4477 44.67 28.3669 44.4667 28.3669H43.7V18.7282C44.0543 17.9526 44.3632 17.1571 44.6254 16.3458C46.2725 11.2622 46.4372 6.35409 45.1151 1.75784C45.0692 1.59789 44.9725 1.45723 44.8395 1.35714C44.7066 1.25704 44.5447 1.20296 44.3783 1.20306H40.5727C40.4096 1.20299 40.2507 1.25494 40.1192 1.35135C39.9876 1.44775 39.8902 1.5836 39.8412 1.73915L37.1309 10.3258L7.10585 0.041465C7.01058 0.00879203 6.90981 -0.00479036 6.80929 0.00149402C6.70878 0.00777839 6.61048 0.0338063 6.52003 0.0780907C6.42957 0.122375 6.34873 0.184048 6.28211 0.259586C6.2155 0.335124 6.16442 0.423047 6.1318 0.518331L4.64121 4.87012C4.6085 4.96536 4.59489 5.06612 4.60116 5.16663C4.60743 5.26714 4.63346 5.36543 4.67775 5.45587C4.72204 5.54631 4.78373 5.62713 4.85928 5.69371C4.93484 5.76029 5.02278 5.81132 5.11807 5.84388L19.1757 10.6591L19.5123 13.1639C19.371 13.2557 19.2642 13.3918 19.2086 13.5509C16.3891 21.7524 11.8717 34.9865 10.9171 38.3333H9.2C8.99667 38.3333 8.80166 38.4141 8.65788 38.5579C8.51411 38.7017 8.43333 38.8967 8.43333 39.1V41.4H0.766667C0.563334 41.4 0.368329 41.4808 0.224551 41.6246C0.0807735 41.7683 0 41.9633 0 42.1667V45.2333C0 45.4367 0.0807735 45.6317 0.224551 45.7754C0.368329 45.9192 0.563334 46 0.766667 46H45.2333C45.4367 46 45.6317 45.9192 45.7754 45.7754C45.9192 45.6317 46 45.4367 46 45.2333V42.1669C46 41.9635 45.9192 41.7685 45.7754 41.6247C45.6317 41.481 45.4367 41.4002 45.2333 41.4002ZM43.7 34.5002H42.1667V29.9002H43.7V34.5002ZM42.1667 28.3669H41.4C41.1967 28.3669 41.0017 28.4477 40.8579 28.5914C40.7141 28.7352 40.6333 28.9302 40.6333 29.1335V35.2669C40.6333 35.4702 40.7141 35.6652 40.8579 35.809C41.0017 35.9528 41.1967 36.0335 41.4 36.0335H42.1667V41.4002H28.3667V39.1002C28.3667 38.8969 28.2859 38.7019 28.1421 38.5581C27.9983 38.4143 27.8033 38.3335 27.6 38.3335H26.8333V13.9344L27.3252 13.4506L35.2841 16.1769L32.2352 25.8369C32.1757 26.0255 32.1914 26.2298 32.279 26.4072C32.3666 26.5845 32.5194 26.7211 32.7053 26.7884L34.5614 27.4604C34.6699 27.4996 34.7857 27.5139 34.9005 27.5021C35.0152 27.4904 35.1258 27.453 35.224 27.3926C37.9423 25.7241 40.3041 24.096 42.1667 21.4311V28.3669ZM16.0425 27.5906C16.0621 27.5922 16.0799 27.6002 16.1 27.6002H22.8188L14.67 31.6747C15.096 30.4004 15.5593 29.0226 16.0425 27.5906ZM18.1203 21.4669H23.3578L16.7358 25.5421C17.1911 24.1981 17.6564 22.8286 18.1203 21.4669ZM24.4034 16.1516C24.6531 16.015 24.8839 15.8462 25.0896 15.6495L25.3 15.4426V19.9336H19.7813L24.4034 16.1516ZM25.3 26.0669H18.8088L25.3 22.0723V26.0669ZM25.3 32.2002H17.0479L25.3 28.0741V32.2002ZM13.9845 33.7335H22.27L12.6683 37.7764C12.9716 36.8106 13.4289 35.4097 13.9845 33.7335ZM25.3 34.1216V38.3335H15.2966L25.3 34.1216ZM41.1349 2.7362H43.7929C44.8612 6.87418 44.6516 11.2907 43.167 15.8728C42.8915 16.7361 42.5597 17.5804 42.1737 18.4002H42.1667V18.4159C40.5713 21.7568 38.3123 23.6682 34.7351 25.8917L33.9191 25.5963L36.9602 15.9617C36.965 15.9489 36.9756 15.9395 36.9794 15.9266L38.3623 11.5374C38.3652 11.5278 38.3623 11.5187 38.3653 11.5093L41.1349 2.7362ZM6.34072 4.64184L7.33422 1.74059L36.6693 11.7884L35.7458 14.7137L27.3738 11.8461C27.2391 11.8001 27.0943 11.7925 26.9555 11.8241C26.8167 11.8557 26.6895 11.9253 26.588 12.0251L24.4222 14.1558L23.5436 14.8745C23.3009 14.9923 23.0337 15.0507 22.764 15.0448C22.4943 15.039 22.2299 14.9691 21.9925 14.841C21.7552 14.7128 21.5517 14.53 21.3989 14.3078C21.2461 14.0855 21.1483 13.8301 21.1136 13.5626L20.6329 9.98521C20.6139 9.84415 20.556 9.71116 20.4657 9.60114C20.3754 9.49112 20.2562 9.40842 20.1215 9.3623L6.34072 4.64184ZM20.2296 15.2975C20.6054 15.7931 21.1163 16.1696 21.701 16.3818L19.1407 18.4769C19.5139 17.3853 19.8788 16.3197 20.2296 15.2975ZM9.96667 39.8669H26.8333V41.4002H9.96667V39.8669ZM44.4667 44.4669H1.53333V42.9335H44.4667V44.4669Z"
                fill="#4AAB3D"></path>
              <path
                d="M22.025 13.2553L22.5219 11.8047L23.9729 12.3017L23.476 13.7523L22.025 13.2553Z"
                fill="#4AAB3D"></path>
            </svg>
          </div>
          <a href="service-details.html">
            <h5 class="title">Inveter & Batteries</h5>
          </a>
          <p class="disc">
            Litarrices sociosqu in commodo quam proin facilisis
          </p>
        </div>
        <!-- single service aarea end -->
      </div>
      <div class="col-lg-3 col-md-6 cols-md-12 col-12">
        <!-- single service aarea start -->
        <div class="single-service-solari two">
          <div class="icon-area">
            <svg
              width="46"
              height="46"
              viewBox="0 0 46 46"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M36.339 21.9L36.8359 20.4494L38.2869 20.9463L37.79 22.3969L36.339 21.9Z"
                fill="#4AAB3D"></path>
              <path
                d="M45.2333 41.4002H43.7V36.0335H44.4667C44.67 36.0335 44.865 35.9528 45.0088 35.809C45.1526 35.6652 45.2333 35.4702 45.2333 35.2669V29.1335C45.2333 28.9302 45.1526 28.7352 45.0088 28.5914C44.865 28.4477 44.67 28.3669 44.4667 28.3669H43.7V18.7282C44.0543 17.9526 44.3632 17.1571 44.6254 16.3458C46.2725 11.2622 46.4372 6.35409 45.1151 1.75784C45.0692 1.59789 44.9725 1.45723 44.8395 1.35714C44.7066 1.25704 44.5447 1.20296 44.3783 1.20306H40.5727C40.4096 1.20299 40.2507 1.25494 40.1192 1.35135C39.9876 1.44775 39.8902 1.5836 39.8412 1.73915L37.1309 10.3258L7.10585 0.041465C7.01058 0.00879203 6.90981 -0.00479036 6.80929 0.00149402C6.70878 0.00777839 6.61048 0.0338063 6.52003 0.0780907C6.42957 0.122375 6.34873 0.184048 6.28211 0.259586C6.2155 0.335124 6.16442 0.423047 6.1318 0.518331L4.64121 4.87012C4.6085 4.96536 4.59489 5.06612 4.60116 5.16663C4.60743 5.26714 4.63346 5.36543 4.67775 5.45587C4.72204 5.54631 4.78373 5.62713 4.85928 5.69371C4.93484 5.76029 5.02278 5.81132 5.11807 5.84388L19.1757 10.6591L19.5123 13.1639C19.371 13.2557 19.2642 13.3918 19.2086 13.5509C16.3891 21.7524 11.8717 34.9865 10.9171 38.3333H9.2C8.99667 38.3333 8.80166 38.4141 8.65788 38.5579C8.51411 38.7017 8.43333 38.8967 8.43333 39.1V41.4H0.766667C0.563334 41.4 0.368329 41.4808 0.224551 41.6246C0.0807735 41.7683 0 41.9633 0 42.1667V45.2333C0 45.4367 0.0807735 45.6317 0.224551 45.7754C0.368329 45.9192 0.563334 46 0.766667 46H45.2333C45.4367 46 45.6317 45.9192 45.7754 45.7754C45.9192 45.6317 46 45.4367 46 45.2333V42.1669C46 41.9635 45.9192 41.7685 45.7754 41.6247C45.6317 41.481 45.4367 41.4002 45.2333 41.4002ZM43.7 34.5002H42.1667V29.9002H43.7V34.5002ZM42.1667 28.3669H41.4C41.1967 28.3669 41.0017 28.4477 40.8579 28.5914C40.7141 28.7352 40.6333 28.9302 40.6333 29.1335V35.2669C40.6333 35.4702 40.7141 35.6652 40.8579 35.809C41.0017 35.9528 41.1967 36.0335 41.4 36.0335H42.1667V41.4002H28.3667V39.1002C28.3667 38.8969 28.2859 38.7019 28.1421 38.5581C27.9983 38.4143 27.8033 38.3335 27.6 38.3335H26.8333V13.9344L27.3252 13.4506L35.2841 16.1769L32.2352 25.8369C32.1757 26.0255 32.1914 26.2298 32.279 26.4072C32.3666 26.5845 32.5194 26.7211 32.7053 26.7884L34.5614 27.4604C34.6699 27.4996 34.7857 27.5139 34.9005 27.5021C35.0152 27.4904 35.1258 27.453 35.224 27.3926C37.9423 25.7241 40.3041 24.096 42.1667 21.4311V28.3669ZM16.0425 27.5906C16.0621 27.5922 16.0799 27.6002 16.1 27.6002H22.8188L14.67 31.6747C15.096 30.4004 15.5593 29.0226 16.0425 27.5906ZM18.1203 21.4669H23.3578L16.7358 25.5421C17.1911 24.1981 17.6564 22.8286 18.1203 21.4669ZM24.4034 16.1516C24.6531 16.015 24.8839 15.8462 25.0896 15.6495L25.3 15.4426V19.9336H19.7813L24.4034 16.1516ZM25.3 26.0669H18.8088L25.3 22.0723V26.0669ZM25.3 32.2002H17.0479L25.3 28.0741V32.2002ZM13.9845 33.7335H22.27L12.6683 37.7764C12.9716 36.8106 13.4289 35.4097 13.9845 33.7335ZM25.3 34.1216V38.3335H15.2966L25.3 34.1216ZM41.1349 2.7362H43.7929C44.8612 6.87418 44.6516 11.2907 43.167 15.8728C42.8915 16.7361 42.5597 17.5804 42.1737 18.4002H42.1667V18.4159C40.5713 21.7568 38.3123 23.6682 34.7351 25.8917L33.9191 25.5963L36.9602 15.9617C36.965 15.9489 36.9756 15.9395 36.9794 15.9266L38.3623 11.5374C38.3652 11.5278 38.3623 11.5187 38.3653 11.5093L41.1349 2.7362ZM6.34072 4.64184L7.33422 1.74059L36.6693 11.7884L35.7458 14.7137L27.3738 11.8461C27.2391 11.8001 27.0943 11.7925 26.9555 11.8241C26.8167 11.8557 26.6895 11.9253 26.588 12.0251L24.4222 14.1558L23.5436 14.8745C23.3009 14.9923 23.0337 15.0507 22.764 15.0448C22.4943 15.039 22.2299 14.9691 21.9925 14.841C21.7552 14.7128 21.5517 14.53 21.3989 14.3078C21.2461 14.0855 21.1483 13.8301 21.1136 13.5626L20.6329 9.98521C20.6139 9.84415 20.556 9.71116 20.4657 9.60114C20.3754 9.49112 20.2562 9.40842 20.1215 9.3623L6.34072 4.64184ZM20.2296 15.2975C20.6054 15.7931 21.1163 16.1696 21.701 16.3818L19.1407 18.4769C19.5139 17.3853 19.8788 16.3197 20.2296 15.2975ZM9.96667 39.8669H26.8333V41.4002H9.96667V39.8669ZM44.4667 44.4669H1.53333V42.9335H44.4667V44.4669Z"
                fill="#4AAB3D"></path>
              <path
                d="M22.025 13.2553L22.5219 11.8047L23.9729 12.3017L23.476 13.7523L22.025 13.2553Z"
                fill="#4AAB3D"></path>
            </svg>
          </div>
          <a href="service-details.html">
            <h5 class="title">Solar Power</h5>
          </a>
          <p class="disc">
            Litarrices sociosqu in commodo quam proin facilisis
          </p>
        </div>
        <!-- single service aarea end -->
      </div>
      <div class="col-lg-3 col-md-6 cols-md-12 col-12">
        <!-- single service aarea start -->
        <div class="single-service-solari three">
          <div class="icon-area">
            <svg
              width="46"
              height="46"
              viewBox="0 0 46 46"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M36.339 21.9L36.8359 20.4494L38.2869 20.9463L37.79 22.3969L36.339 21.9Z"
                fill="#4AAB3D"></path>
              <path
                d="M45.2333 41.4002H43.7V36.0335H44.4667C44.67 36.0335 44.865 35.9528 45.0088 35.809C45.1526 35.6652 45.2333 35.4702 45.2333 35.2669V29.1335C45.2333 28.9302 45.1526 28.7352 45.0088 28.5914C44.865 28.4477 44.67 28.3669 44.4667 28.3669H43.7V18.7282C44.0543 17.9526 44.3632 17.1571 44.6254 16.3458C46.2725 11.2622 46.4372 6.35409 45.1151 1.75784C45.0692 1.59789 44.9725 1.45723 44.8395 1.35714C44.7066 1.25704 44.5447 1.20296 44.3783 1.20306H40.5727C40.4096 1.20299 40.2507 1.25494 40.1192 1.35135C39.9876 1.44775 39.8902 1.5836 39.8412 1.73915L37.1309 10.3258L7.10585 0.041465C7.01058 0.00879203 6.90981 -0.00479036 6.80929 0.00149402C6.70878 0.00777839 6.61048 0.0338063 6.52003 0.0780907C6.42957 0.122375 6.34873 0.184048 6.28211 0.259586C6.2155 0.335124 6.16442 0.423047 6.1318 0.518331L4.64121 4.87012C4.6085 4.96536 4.59489 5.06612 4.60116 5.16663C4.60743 5.26714 4.63346 5.36543 4.67775 5.45587C4.72204 5.54631 4.78373 5.62713 4.85928 5.69371C4.93484 5.76029 5.02278 5.81132 5.11807 5.84388L19.1757 10.6591L19.5123 13.1639C19.371 13.2557 19.2642 13.3918 19.2086 13.5509C16.3891 21.7524 11.8717 34.9865 10.9171 38.3333H9.2C8.99667 38.3333 8.80166 38.4141 8.65788 38.5579C8.51411 38.7017 8.43333 38.8967 8.43333 39.1V41.4H0.766667C0.563334 41.4 0.368329 41.4808 0.224551 41.6246C0.0807735 41.7683 0 41.9633 0 42.1667V45.2333C0 45.4367 0.0807735 45.6317 0.224551 45.7754C0.368329 45.9192 0.563334 46 0.766667 46H45.2333C45.4367 46 45.6317 45.9192 45.7754 45.7754C45.9192 45.6317 46 45.4367 46 45.2333V42.1669C46 41.9635 45.9192 41.7685 45.7754 41.6247C45.6317 41.481 45.4367 41.4002 45.2333 41.4002ZM43.7 34.5002H42.1667V29.9002H43.7V34.5002ZM42.1667 28.3669H41.4C41.1967 28.3669 41.0017 28.4477 40.8579 28.5914C40.7141 28.7352 40.6333 28.9302 40.6333 29.1335V35.2669C40.6333 35.4702 40.7141 35.6652 40.8579 35.809C41.0017 35.9528 41.1967 36.0335 41.4 36.0335H42.1667V41.4002H28.3667V39.1002C28.3667 38.8969 28.2859 38.7019 28.1421 38.5581C27.9983 38.4143 27.8033 38.3335 27.6 38.3335H26.8333V13.9344L27.3252 13.4506L35.2841 16.1769L32.2352 25.8369C32.1757 26.0255 32.1914 26.2298 32.279 26.4072C32.3666 26.5845 32.5194 26.7211 32.7053 26.7884L34.5614 27.4604C34.6699 27.4996 34.7857 27.5139 34.9005 27.5021C35.0152 27.4904 35.1258 27.453 35.224 27.3926C37.9423 25.7241 40.3041 24.096 42.1667 21.4311V28.3669ZM16.0425 27.5906C16.0621 27.5922 16.0799 27.6002 16.1 27.6002H22.8188L14.67 31.6747C15.096 30.4004 15.5593 29.0226 16.0425 27.5906ZM18.1203 21.4669H23.3578L16.7358 25.5421C17.1911 24.1981 17.6564 22.8286 18.1203 21.4669ZM24.4034 16.1516C24.6531 16.015 24.8839 15.8462 25.0896 15.6495L25.3 15.4426V19.9336H19.7813L24.4034 16.1516ZM25.3 26.0669H18.8088L25.3 22.0723V26.0669ZM25.3 32.2002H17.0479L25.3 28.0741V32.2002ZM13.9845 33.7335H22.27L12.6683 37.7764C12.9716 36.8106 13.4289 35.4097 13.9845 33.7335ZM25.3 34.1216V38.3335H15.2966L25.3 34.1216ZM41.1349 2.7362H43.7929C44.8612 6.87418 44.6516 11.2907 43.167 15.8728C42.8915 16.7361 42.5597 17.5804 42.1737 18.4002H42.1667V18.4159C40.5713 21.7568 38.3123 23.6682 34.7351 25.8917L33.9191 25.5963L36.9602 15.9617C36.965 15.9489 36.9756 15.9395 36.9794 15.9266L38.3623 11.5374C38.3652 11.5278 38.3623 11.5187 38.3653 11.5093L41.1349 2.7362ZM6.34072 4.64184L7.33422 1.74059L36.6693 11.7884L35.7458 14.7137L27.3738 11.8461C27.2391 11.8001 27.0943 11.7925 26.9555 11.8241C26.8167 11.8557 26.6895 11.9253 26.588 12.0251L24.4222 14.1558L23.5436 14.8745C23.3009 14.9923 23.0337 15.0507 22.764 15.0448C22.4943 15.039 22.2299 14.9691 21.9925 14.841C21.7552 14.7128 21.5517 14.53 21.3989 14.3078C21.2461 14.0855 21.1483 13.8301 21.1136 13.5626L20.6329 9.98521C20.6139 9.84415 20.556 9.71116 20.4657 9.60114C20.3754 9.49112 20.2562 9.40842 20.1215 9.3623L6.34072 4.64184ZM20.2296 15.2975C20.6054 15.7931 21.1163 16.1696 21.701 16.3818L19.1407 18.4769C19.5139 17.3853 19.8788 16.3197 20.2296 15.2975ZM9.96667 39.8669H26.8333V41.4002H9.96667V39.8669ZM44.4667 44.4669H1.53333V42.9335H44.4667V44.4669Z"
                fill="#4AAB3D"></path>
              <path
                d="M22.025 13.2553L22.5219 11.8047L23.9729 12.3017L23.476 13.7523L22.025 13.2553Z"
                fill="#4AAB3D"></path>
            </svg>
          </div>
          <a href="service-details.html">
            <h5 class="title">UPS on Hire</h5>
          </a>
          <p class="disc">
            Litarrices sociosqu in commodo quam proin facilisis
          </p>
        </div>
        <!-- single service aarea end -->
      </div>
      <div class="col-lg-3 col-md-6 cols-md-12 col-12">
        <!-- single service aarea start -->
        <div class="single-service-solari four">
          <div class="icon-area">
            <svg
              width="46"
              height="46"
              viewBox="0 0 46 46"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M36.339 21.9L36.8359 20.4494L38.2869 20.9463L37.79 22.3969L36.339 21.9Z"
                fill="#4AAB3D"></path>
              <path
                d="M45.2333 41.4002H43.7V36.0335H44.4667C44.67 36.0335 44.865 35.9528 45.0088 35.809C45.1526 35.6652 45.2333 35.4702 45.2333 35.2669V29.1335C45.2333 28.9302 45.1526 28.7352 45.0088 28.5914C44.865 28.4477 44.67 28.3669 44.4667 28.3669H43.7V18.7282C44.0543 17.9526 44.3632 17.1571 44.6254 16.3458C46.2725 11.2622 46.4372 6.35409 45.1151 1.75784C45.0692 1.59789 44.9725 1.45723 44.8395 1.35714C44.7066 1.25704 44.5447 1.20296 44.3783 1.20306H40.5727C40.4096 1.20299 40.2507 1.25494 40.1192 1.35135C39.9876 1.44775 39.8902 1.5836 39.8412 1.73915L37.1309 10.3258L7.10585 0.041465C7.01058 0.00879203 6.90981 -0.00479036 6.80929 0.00149402C6.70878 0.00777839 6.61048 0.0338063 6.52003 0.0780907C6.42957 0.122375 6.34873 0.184048 6.28211 0.259586C6.2155 0.335124 6.16442 0.423047 6.1318 0.518331L4.64121 4.87012C4.6085 4.96536 4.59489 5.06612 4.60116 5.16663C4.60743 5.26714 4.63346 5.36543 4.67775 5.45587C4.72204 5.54631 4.78373 5.62713 4.85928 5.69371C4.93484 5.76029 5.02278 5.81132 5.11807 5.84388L19.1757 10.6591L19.5123 13.1639C19.371 13.2557 19.2642 13.3918 19.2086 13.5509C16.3891 21.7524 11.8717 34.9865 10.9171 38.3333H9.2C8.99667 38.3333 8.80166 38.4141 8.65788 38.5579C8.51411 38.7017 8.43333 38.8967 8.43333 39.1V41.4H0.766667C0.563334 41.4 0.368329 41.4808 0.224551 41.6246C0.0807735 41.7683 0 41.9633 0 42.1667V45.2333C0 45.4367 0.0807735 45.6317 0.224551 45.7754C0.368329 45.9192 0.563334 46 0.766667 46H45.2333C45.4367 46 45.6317 45.9192 45.7754 45.7754C45.9192 45.6317 46 45.4367 46 45.2333V42.1669C46 41.9635 45.9192 41.7685 45.7754 41.6247C45.6317 41.481 45.4367 41.4002 45.2333 41.4002ZM43.7 34.5002H42.1667V29.9002H43.7V34.5002ZM42.1667 28.3669H41.4C41.1967 28.3669 41.0017 28.4477 40.8579 28.5914C40.7141 28.7352 40.6333 28.9302 40.6333 29.1335V35.2669C40.6333 35.4702 40.7141 35.6652 40.8579 35.809C41.0017 35.9528 41.1967 36.0335 41.4 36.0335H42.1667V41.4002H28.3667V39.1002C28.3667 38.8969 28.2859 38.7019 28.1421 38.5581C27.9983 38.4143 27.8033 38.3335 27.6 38.3335H26.8333V13.9344L27.3252 13.4506L35.2841 16.1769L32.2352 25.8369C32.1757 26.0255 32.1914 26.2298 32.279 26.4072C32.3666 26.5845 32.5194 26.7211 32.7053 26.7884L34.5614 27.4604C34.6699 27.4996 34.7857 27.5139 34.9005 27.5021C35.0152 27.4904 35.1258 27.453 35.224 27.3926C37.9423 25.7241 40.3041 24.096 42.1667 21.4311V28.3669ZM16.0425 27.5906C16.0621 27.5922 16.0799 27.6002 16.1 27.6002H22.8188L14.67 31.6747C15.096 30.4004 15.5593 29.0226 16.0425 27.5906ZM18.1203 21.4669H23.3578L16.7358 25.5421C17.1911 24.1981 17.6564 22.8286 18.1203 21.4669ZM24.4034 16.1516C24.6531 16.015 24.8839 15.8462 25.0896 15.6495L25.3 15.4426V19.9336H19.7813L24.4034 16.1516ZM25.3 26.0669H18.8088L25.3 22.0723V26.0669ZM25.3 32.2002H17.0479L25.3 28.0741V32.2002ZM13.9845 33.7335H22.27L12.6683 37.7764C12.9716 36.8106 13.4289 35.4097 13.9845 33.7335ZM25.3 34.1216V38.3335H15.2966L25.3 34.1216ZM41.1349 2.7362H43.7929C44.8612 6.87418 44.6516 11.2907 43.167 15.8728C42.8915 16.7361 42.5597 17.5804 42.1737 18.4002H42.1667V18.4159C40.5713 21.7568 38.3123 23.6682 34.7351 25.8917L33.9191 25.5963L36.9602 15.9617C36.965 15.9489 36.9756 15.9395 36.9794 15.9266L38.3623 11.5374C38.3652 11.5278 38.3623 11.5187 38.3653 11.5093L41.1349 2.7362ZM6.34072 4.64184L7.33422 1.74059L36.6693 11.7884L35.7458 14.7137L27.3738 11.8461C27.2391 11.8001 27.0943 11.7925 26.9555 11.8241C26.8167 11.8557 26.6895 11.9253 26.588 12.0251L24.4222 14.1558L23.5436 14.8745C23.3009 14.9923 23.0337 15.0507 22.764 15.0448C22.4943 15.039 22.2299 14.9691 21.9925 14.841C21.7552 14.7128 21.5517 14.53 21.3989 14.3078C21.2461 14.0855 21.1483 13.8301 21.1136 13.5626L20.6329 9.98521C20.6139 9.84415 20.556 9.71116 20.4657 9.60114C20.3754 9.49112 20.2562 9.40842 20.1215 9.3623L6.34072 4.64184ZM20.2296 15.2975C20.6054 15.7931 21.1163 16.1696 21.701 16.3818L19.1407 18.4769C19.5139 17.3853 19.8788 16.3197 20.2296 15.2975ZM9.96667 39.8669H26.8333V41.4002H9.96667V39.8669ZM44.4667 44.4669H1.53333V42.9335H44.4667V44.4669Z"
                fill="#4AAB3D"></path>
              <path
                d="M22.025 13.2553L22.5219 11.8047L23.9729 12.3017L23.476 13.7523L22.025 13.2553Z"
                fill="#4AAB3D"></path>
            </svg>
          </div>
          <a href="service-details.html">
            <h5 class="title">AMS Services</h5>
          </a>
          <p class="disc">
            Litarrices sociosqu in commodo quam proin facilisis
          </p>
        </div>
        <!-- single service aarea end -->
      </div>
    </div>
  </div>
</div>
<!-- rts service area end -->
