<!-- rts- clients review area start -->
<div class="rts-client-review-area-h2 rts-section-gapBottom">
  <span class="stok-bg images-r"> Testimonials </span>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-area-center">
          <p class="pre skew-up">
            <span> Client </span> Feedback
          </p>
          <h2 class="title skew-up">Customer Feedbacks</h2>
        </div>
      </div>
    </div>
    <div class="row mt--30">
      <div class="col-lg-12">
        <div class="testimonials-review-main-wrapper">
          <div class="swiper mySwiper-testimonials-solari">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <!-- single review area start -->
                <div class="single-review-area-soalri">
                  <img
                    src="/assets/images/testimonials/07.png"
                    alt="testimonaials"
                    class="quote"
                  />
                  <p class="dsic">
                    Fringilla sollicitudin luctus viverra egestas cras lacinia
                    commodo sociosqu cubilia dictum difa tempus justo diam
                    aliquet posuere lobortis afa placerat habitant vel auctor
                    felis.
                  </p>
                  <div class="author-area">
                    <img
                      src="/assets/images/testimonials/08.png"
                      alt="image"
                      class="authoe"
                    />
                    <h6 class="title">Thomas Kevin</h6>
                    <span>Solar manager</span>
                    <div class="star-area">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                  </div>
                </div>
                <!-- single review area end -->
              </div>
              <div class="swiper-slide">
                <!-- single review area start -->
                <div class="single-review-area-soalri">
                  <img
                    src="/assets/images/testimonials/07.png"
                    alt="testimonaials"
                    class="quote"
                  />
                  <p class="dsic">
                    Fringilla sollicitudin luctus viverra egestas cras lacinia
                    commodo sociosqu cubilia dictum difa tempus justo diam
                    aliquet posuere lobortis afa placerat habitant vel auctor
                    felis.
                  </p>
                  <div class="author-area">
                    <img
                      src="/assets/images/testimonials/08.png"
                      alt="image"
                      class="authoe"
                    />
                    <h6 class="title">Thomas Kevin</h6>
                    <span>Solar manager</span>
                    <div class="star-area">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                  </div>
                </div>
                <!-- single review area end -->
              </div>
              <div class="swiper-slide">
                <!-- single review area start -->
                <div class="single-review-area-soalri">
                  <img
                    src="/assets/images/testimonials/07.png"
                    alt="testimonaials"
                    class="quote"
                  />
                  <p class="dsic">
                    Fringilla sollicitudin luctus viverra egestas cras lacinia
                    commodo sociosqu cubilia dictum difa tempus justo diam
                    aliquet posuere lobortis afa placerat habitant vel auctor
                    felis.
                  </p>
                  <div class="author-area">
                    <img
                      src="/assets/images/testimonials/08.png"
                      alt="image"
                      class="authoe"
                    />
                    <h6 class="title">Thomas Kevin</h6>
                    <span>Solar manager</span>
                    <div class="star-area">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                  </div>
                </div>
                <!-- single review area end -->
              </div>
              <div class="swiper-slide">
                <!-- single review area start -->
                <div class="single-review-area-soalri">
                  <img
                    src="/assets/images/testimonials/07.png"
                    alt="testimonaials"
                    class="quote"
                  />
                  <p class="dsic">
                    Fringilla sollicitudin luctus viverra egestas cras lacinia
                    commodo sociosqu cubilia dictum difa tempus justo diam
                    aliquet posuere lobortis afa placerat habitant vel auctor
                    felis.
                  </p>
                  <div class="author-area">
                    <img
                      src="/assets/images/testimonials/08.png"
                      alt="image"
                      class="authoe"
                    />
                    <h6 class="title">Thomas Kevin</h6>
                    <span>Solar manager</span>
                    <div class="star-area">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                  </div>
                </div>
                <!-- single review area end -->
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
