---

const { title } = Astro.props
---
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/fav.png">
    <title>Solari - Solar and Renewable Energy HTML Template</title>

    <!-- fontawesome css -->
    <link rel="stylesheet" href="/assets/css/plugins/fontawesome-6.css">
    <!-- fontawesome css -->
    <link rel="stylesheet" href="/assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="/assets/css/plugins/unicons.css">
    <link rel="stylesheet" href="/assets/css/plugins/metismenu.css">
    <link rel="stylesheet" href="/assets/css/vendor/animate.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="/assets/css/style.css">
   
    </head>